body{
    background-color: rgb(17, 17, 17);
}
#titulo{
    color: white;
    text-align: center;
}
#video{
    text-align: center;
    margin-left: 380px;
}
#maisinfo{
    color: white;
    text-align: center;
}
#home{
    margin-left: 630px;
}